.color-gray-2 { color: var(--color-gray-2); }
.color-gray-3 { color: var(--color-gray-3); }
.color-gray-4 { color: var(--color-gray-4); }

.border-color-gray-2 { border-color: var(--color-gray-2); }
.border-color-gray-3 { border-color: var(--color-gray-3); }
.border-color-gray-4 { border-color: var(--color-gray-4); }