.sm-hide {
    @media screen and (max-width: 374px) { display: none !important; }
}

.sm-show {
    @media screen and (min-width: 375px) { display: none !important; }
}

.hide {
    display: none !important;
}


.overflow-hidden { overflow: hidden; }

.overflow-y-visible { overflow-y: visible; }